.VideoSettingDropDown{
    height:var(--video-drop-down-height);
    width: var(--video-drop-down-width);
    position: absolute;
    top:70px;
    right: 50px;
    background-color: rgb(169 169 169 / 85%);
    transition: height 0.3s;

}

.Text {
    display: flex;
    justify-content: center;
}

.icon {
    height: 40px;
    width: 40px;
    position: absolute;
    right: calc((var(--video-drop-down-width) - 40px) * 0.5);
    top:calc(70px - 40px)
}

.collapsed {
    height: var(--video-drop-down-height-collapsed);

    .icon {
        top: calc(600px - 40px );
        position: absolute;
        right: calc((400px - 40px) * 0.5);
    }
}