

h1 {

}

button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    background: rgba(55, 19, 100, 0.84);

}

.par {
    width: 100%;
    height: 200px;
    background-color: rgba(24, 105, 105, 0.8);
    display: flex;
    justify-content: center;
    align-content: center;
}

.par h1 {
    padding: 40px;
    text-align-all: center;

}